<div class="big-container">
  <div id="header-index">
    <h1>List of Cocktails</h1>
    <div id="button-cocktail">
      <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div id="container-cards">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.1)), url('<%=cl_image_path cocktail.photo %>');">
            <div class="card-description">
              <h2><%= cocktail.name %></h2>
            </div>
            <%= link_to '', "/cocktails/#{cocktail.id}", class: "card-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
