<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to '/', class: "navbar-wagon-brand" do %>
    <%= image_tag "cocktail-bar.png", alt: "logo" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="/cocktails/new" class="navbar-wagon-item navbar-wagon-link">Add a cocktail</a>
    <a href="/" class="navbar-wagon-item navbar-wagon-link">All cocktails</a>
  </div>
</div>
